
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    width: 95%;
}

p {
    display: flex;
    justify-content: center;
    width: 95%;
}

ul {
    width: 95%;
    display: block;
    margin-left: 35%;
}



